/venv/*
/.vscode/*
/numgen/application/__pycache__/*
/txtgen/application/__pycache__/*
/prize/application/__pycache__/*
/przgen/application/__pycache__/*
/history_for_print.txt
*/.pytest_cache/*
*/__pycache__/*
prize/__pycache__/*
prize/tests/__pycache__/*
przgen/__pycache__/*
przgen/tests/__pycache__/*
txtgen/__pycache__/*
txtgen/tests/__pycache__/*
numgen/__pycache__/*
numgen/tests/__pycache__/*
txtgen/test3/__pycache__/*
txtgen/htmlcov/*
numgen/htmlcov/*
przgen/htmlcov/*
prize/htmlcov/*
txtgen/test/__pycache__/*