{% extends "layout.html" %} 
{% block body_content %}


{% if prizes.items %}

  <div class="text-center ">
    <br><br>
    <div class="alert alert-success mx-auto w-25 mt-3 pt-4">    
      <p>Below are your codes.
      </p>
    </div>
  </div> 

<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
  
  <div class="table-responsive">

<div class="d-flex justify-content-around">
  <div class="p-2">
    {% if prizes.page - 5 <= 1 %}
    <button type="button" class="btn btn-outline-secondary disabled">&lt;&lt; Back 5</button>
  {% else %}
  <a href="{{ url_for('view', num=prizes.prev_num-5) }}"><button type="button" class="btn btn-outline-secondary">&lt;&lt; Back 5</button></a>
  {% endif %} |</div>
  <div class="p-2">
   {% for page in prizes.iter_pages(left_edge=1, left_current=2, right_current=3, right_edge=1) %}
  {% if page %}
          {% if page == prizes.page %}
          <a href="{{ url_for('view', num= page) }}"><button type="button" class="btn btn-secondary disabled"> {{ page }}</button></a>
          {% else %}
          <a href="{{ url_for('view', num= page) }}"><button type="button" class="btn btn-outline-secondary"> {{ page }}</button></a>
          {% endif %}
  {% else %}
   ...
  {% endif %}
  {% endfor %}
              </div>
  <div class="p-2">
    |{% if prizes.page +5 >= prizes.pages %}
    <button type="button" class="btn btn-outline-secondary disabled">Forward 5 &gt;&gt;</button>
  {% else %}
  <a href="{{ url_for('view', num=prizes.next_num+5) }}"><button type="button" class="btn btn-outline-secondary">Forward 5 &gt;&gt;</button></a>
  {% endif %}</div>
</div>

<!-- responsive variations -->

  <table id="data" class="table table-striped table-dark table-hover">
      
    <thead class="thead-dark">
      <tr>
        <th >ID</th>
        <th >Code</th>
        <th >Prize</th>
        <th >Delete Code</th>
      </tr>
    </thead>
    <tbody>
      {% for prize in prizes.items %}                           
      <tr>
        <td >{{ prize.prize_id }}</td>
        <td >{{ prize.code }}</td>
        <td >£{{ prize.prize }}</td>
        <td ><a href='/deleteprize/{{ prize.prize_id }}'><button type="button" class="btn btn-outline-danger">Delete</button></a></td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
  </div>
</div>

  
{% else %}
<div class="text-center ">
    <br><br>
    <div class="alert alert-secondary mx-auto w-25 mt-3 pt-4">    
      <p>You have no codes!!
      </p>
    </div>
  </div> 

{% endif %}


<div class="col-md2"></div>
</div>
<div class="row"></div>

{% endblock body_content %}