{% extends "layout.html" %}
{% block body_content %}
<div class="row"></div>
<div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
</div>
<div class="row"></div>
    <div class="text-center">
        <br/>
<br>
<br>
<div class="text-center">
    <h1>Registration Page</h1>
    <br>
    <form class="form-signin" method='POST' action=''>
        {{ form.hidden_tag() }}
        <div class="form-group">
            
            {{ form.first_name(class_="form-control", placeholder="First Name") }}
            {% if form.first_name.errors %}
            <div class="error">
                {% for error in form.first_name.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <br>
        <div class="form-group">
            
            {{ form.last_name(class_="form-control", placeholder="Last Name") }}
            {% if form.last_name.errors %}
            <div class="error">
                {% for error in form.last_name.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <br>
        <div class='form_group'>
            
            {{ form.email(class_="form-control", placeholder="Your Email") }}
            {% if form.email.errors %}
                <div class='error'>
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <br>
        <div class='form_group'>
        
            {{ form.password(class_="form-control", placeholder="Select a Password") }}
            {% if form.password.errors %}
            <div class='error'>
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
            <br>  
        <div class='form_group'>
        
            {{ form.confirm_password(class_="form-control", placeholder="Confirm Password") }}
            {% if form.confirm_password.errors %}
            <div class='error'>
                {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
        </div>
        <!--Password and Check Password fields-->

        <br>
        <div class='form_group'>
            {{ form.submit(class_="btn btn-lg btn-primary btn-block") }}
        </div>
    </form>
   
</div>
{% endblock body_content %}